{% extends "base.html" %}
{% block content %}
    <h1>Schools</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Website</th>
                <th>School Logo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for school in schools %}
            <tr>
                <td>{{ school.id }}</td>
                <td>{{ school.name }}</td>
                <td>{{ school.address }}</td>
                <td>{{ school.email }}</td>
                <td>{{ school.phone_number }}</td>
                <td>{{ school.website }}</td>
                <td>
                    {% if school.school_logo %}  <img src="{{ url_for('main.uploaded_file', filename=school.school_logo) }}" alt="School Logo" width="50">
                    {% else %}
                        No Logo
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('main.edit_school', id=school.id) }}">Edit</a>
                    <a href="{{ url_for('main.delete_school', id=school.id) }}" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}